[submodule "deps/hyper"]
	path = deps/hyper
	url = https://github.com/hyperium/hyper
[submodule "deps/systray-rs"]
	path = deps/systray-rs
	url = https://github.com/mrmekon/systray-rs
[submodule "deps/rubrail-rs"]
	path = deps/rubrail-rs
	url = git@github.com:mrmekon/rubrail-rs.git
