[package]
name = "connectr"
version = "0.0.2"
authors = [ "Trevor Bentley <trevor@trevorbentley.com>" ]

description = "Spotify Connect library and systray/menubar application for controlling Spotify devices."
keywords = ["spotify", "connect", "spotify connect", "webapi", "systray", "menubar"]
homepage = "https://github.com/mrmekon/connectr"
repository = "https://github.com/mrmekon/connectr"
license = "Apache-2.0"

build = "build.rs"

[lib]
name = "connectr"
crate-type = ["rlib", "dylib"]

[profile.release]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false
codegen-units = 1
panic = 'unwind'

[features]
verbose_http = []

[dependencies]
curl = "0.4.6"
open = "1.2.0"
regex = "0.2"
rustc-serialize = "0.3.23"
url = "1.4.0"
rust-ini = "0.9"
time = "0.1"
timer = "0.1.6"
chrono = "0.3.0"
libc = "0.2"
log = "0.3.7"
log4rs = "0.6.3"
ctrlc = "3.0.1"

[target."cfg(windows)".dependencies]

[target."cfg(all(unix, not(target_os = \"macos\")))".dependencies]

[target."cfg(target_os = \"macos\")".dependencies]
cocoa = "0.8.1"
objc-foundation = "0.1.1"
objc_id = "0.1"

[target."cfg(target_os = \"macos\")".dependencies.objc]
version = "0.2.2"
features = ["exception"]